@page "/payments/provider"
@model SD.ProjectName.WebApp.Pages.Payments.ProviderRedirectModel
@{
    ViewData["Title"] = "Redirecting to payment provider";
}

<p>Redirecting to payment provider...</p>
